<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela-De-Login</title>
</head>

<body>
    <div class="login-box">

        <h2>Escolha de Perfil</h2>

        <form>

            <button type="submit" class="btn btn-primary" routerLink="/cadastro-vendedor">Anunciador</button>
            <button type="submit" class="btn btn-primary" routerLink="/cadastro-cliente">Comprador</button>

        </form>

    </div>
</body>
<!--falta colocar as imagens-->

</html>