.header {
    background-color: white;
    height: 106px;
    max-width: 1400px;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin: auto;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
    transition: border-radius 0.8s ease;
}

/* Responsividade */

@media (max-width: 768px) {
    .header {
        max-width: 90%;
        /* Para telas menores, reduz o tamanho máximo */
        padding: 0 20px;
        /* Adiciona padding para manter o conteúdo distante das bordas */
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Logo */
nav .logo img {
    height: 180px;
    width: 180px;
    margin-top: 11px;
    cursor: pointer;
}



/* Div para alinhar itens no centro */

.center {
    display: flex;
    align-items: center;
    gap: 65px;
}

/* Início Seta */

.search-arrow {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #552A0F;
    margin-top: 13px;
    transition: opacity 0.3s ease;
    opacity: 1;
}


/* Esconde a seta quando hover no header ou sub-header */
.header:hover .arrow-down,
.sub-header:hover~.header .arrow-down {
    opacity: 0;
    transition-delay: 0.1s;
}

/* Fim Seta */

/* Início Search */
form {
    display: flex;
}

.search {
    position: relative;
    display: inline-block;
}

.search img {
    position: absolute;
    left: 19px;
    top: 48%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;

}

input {
    height: 40px;
    width: 500px;
    border-radius: 30px;
    border: 1px solid #F8F9FA;
    background-color: #F8F9FA;
    color: #552A0F;
    font-size: 16px;
    margin-left: 20px;
    /* Espaço entre o logo e a barra de pesquisa */
    padding: 10px 10px 10px 45px;
    /* espaço à esquerda pro ícone search */
    cursor: pointer;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* Remove o x padrão */
}

input::placeholder {
    color: #552A0F;
}

input:focus {
    outline: none;
}

/* Fim Search */

/* Div para alinhar itens na direita */
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Início Botão Anunciar */

.btn-anunciar {
    background: linear-gradient(to right, #0079A1, #005F83);
    color: #FFDE59;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-left: 20px;
}

.btn-anunciar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* fim Botão Anunciar */

/* Início icons */

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon-img {
    width: 31px;
    height: 31px;
}

.icon-img-car {
    margin-top: 5px;
    width: 31px;
    height: 31px;
}

.icon .count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #D9A441;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
}

.icon .count-car {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #D9A441;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
}

/* fim icons */

/* Início User icon */

.user-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
}

/* Fim User icon */

/* Início sub-header */
.sub-header {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 100px 100px;
    width: 50%;
    margin: auto;
    margin-top: auto;
    position: relative;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.sub-header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.sub-header li a {
    text-decoration: none;
    color: #552A0F;
    font-weight: 500;
    font-size: 16px;
}

.header:hover+.sub-header,
.sub-header:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
}

.header:not(:hover)+.sub-header:not(:hover) {
    transition-delay: 0.3s;
}

.nav-item .nav-link.active {
    color: #D9A441;
    /* Cor desejada, pode ser qualquer cor */
    text-decoration: underline;
}

/* Fim sub-header */


.user-dropdown {
    position: absolute;
    top: 88px;
    /* abaixo da imagem */
    right: 0;
    background-color: white;
    border: none;
    border-radius: 0 0px 40px 40px; /*  top-left top-right bottom-right bottom-left */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 160px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 0.5s ease;
    z-index: 1000;
    text-align: left;
}

.header.user-hover {
  border-radius: 100px 100px 0 100px;
}

.user-dropdown a {
    display: block;
    padding: 8px 12px;
    color: #552A0F;
    text-decoration: none;
    font-size: 14px;
    border-radius: 40px;
}

.user-dropdown a:hover {
    background-color: rgb(255, 221, 87, 0.2);
}

.user-dropdown.show {
    opacity: 1;
    visibility: visible;
}