<header class="header" [ngClass]="headerClass">
    <nav>
        <div class="logo">
            <img (click)="home()" src="/Icons/Logo(SemFundo).png" alt="Logo">
        </div>

        <div class="center">
            <div class="search-arrow">
                <div class="search">
                    <img src="/Header/search_icon.png" alt="Logo" (click)="search()">
                    <input [(ngModel)]="filter" type="search" placeholder="Pesquisar..." (keyup.enter)="search()">
                </div>
                <div class="arrow-down"></div>
            </div>
        </div>

        <div class="right">
            <div class="icons">
                <div class="icon">
                    <img src="/Header/favorite.png" alt="heart" class="icon-img">
                    <span class="count">0</span>
                </div>
                <div class="icon">
                    <img src="/Header/car.png" alt="carrinho" class="icon-img-car">
                    <span class="count-car">0</span>
                </div>
                <div class="icon user" (mouseenter)="onUserImgEnter()" (mouseleave)="onUserImgLeave()">
                    <img [src]="session && img ? img : '/Header/user.png'" alt="User" class="user-img">

                    <div *ngIf="!session" class="user-dropdown" [ngClass]="{ 'show': showDropdown }">
                        <a routerLink="/login">Login</a>
                    </div>

                    <div *ngIf="session" class="user-dropdown" [ngClass]="{ 'show': showDropdown }">
                        <a routerLink="/perfil">Meu Perfil</a>
                        <a routerLink="/pedidos">Meus Pedidos</a>
                        <a (click)="logout()">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="sub-header">
    <ul>
        <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="nav-link"
                aria-current="page">Home</a></li>
        <li *ngIf="tipo === 'vendedor'" class="nav-item"><a routerLink="anunciar" routerLinkActive="active" class="nav-link"
                aria-current="page">Anunciar</a></li>
        <li class="nav-item"><a routerLink="shop" routerLinkActive="active" class="nav-link"
                aria-current="page">Shop</a></li>
        <li class="nav-item"><a routerLink="about" routerLinkActive="active" class="nav-link" aria-current="page">Quem
                Somos</a></li>
    </ul>
</div>