<div class="product-container">
    <div class="product-header">
        <img src="/Home/food+_1.jpeg" alt="Produto" class="product-image" />
        <div class="product-info">
            <h2 class="racao-title">Ração <img src="/Icons/pata_2.png" alt="Pata" class="icon" /></h2>
            <p>
                Descrição do produto com informações gerais sobre a ração.
            </p>
            <ul>
                <li>Benefício 1 do produto</li>
                <li>Benefício 2 do produto</li>
                <li>Benefício 3 do produto</li>
            </ul>
            <button class="buy-button">Comprar <img src="/Icons/osso_3.png" alt="Osso" class="icon-button" /></button>
        </div>
    </div>

    <div class="rating-stars">
        <span *ngFor="let star of [1,2,3,4,5]; let i = index" class="star" [class.filled]="i < 4">★</span>
    </div>
    <div class="product-container">
        <img src="/Icons/pata_3.png" alt="Pata" class="imagem-aleatoria pata-flutuante">
        <img src="/Icons/osso_2.png" alt="Osso" class="imagem-aleatoria osso-flutuante">
        <img src="/Icons/cat.png" alt="Gato" class="imagem-aleatoria gato-flutuante">
        <img src="/Home/cat_3.png" alt="gato-flutuante" class="imagem-aleatoria gato">
        <img src="/Home/dog_2.png" alt="cachorro-flutuante" class="imagem-aleatoria cachorro">
        <img src="/Home/dog.png" alt="cachorro" class="imagem-aleatoria cachorro-baixo">


        </div>

    <div class="product-details">
        <h3>Detalhes do produto</h3>
        <p>
            Morbi viverra eleifend in cras orci a leo tellus. Nunc purus adipiscing diam...
        </p>
        <p class="supplier">Gerald Ferguson<br /><small>Fornecedor</small></p>
    </div>

    <div class="comments-section">
        <h3 class="comment-title">Comente Aqui:</h3>
        <div class="comment-box">
            <input type="text" placeholder="Digite seu comentário" [(ngModel)]="newComment" />
            <button (click)="sendComment()">➤</button>
        </div>

        <div class="comment" *ngFor="let comment of comments">
            <img src="/ProductDetail/perfil.jpg" alt="User" class="user-img" />
            <div class="comment-content">
                <strong>{{ comment.name }}</strong>
                <p>{{ comment.text }}</p>
                <div class="comment-rating">
                    <span *ngFor="let star of [1,2,3,4,5]; let i = index" class="star" [class.filled]="i < comment.rating">★</span>
                </div>
            </div>
        </div>
    </div>
</div>