<body>
  <div class="form-container">
    <form #formRef="ngForm" (ngSubmit)="anunciarProduto(formRef)">
      <div class="row">
        <div class="form-group">
          <label>Marca <span class="required">(obrigatório)</span></label>
          <input type="text" name="marca" [(ngModel)]="dadosForm.marca" required>
        </div>

        <div class="form-group">
          <label>Preço <span class="required">(obrigatório)</span></label>
          <input type="number" name="preco" [(ngModel)]="dadosForm.preco" required min="0" step="0.01"
            placeholder="Ex: 19.99" />
        </div>
      </div>

      <div class="form-group">
        <label>Código universal <span class="required">(obrigatório)</span></label>
        <input type="text" required>
        <div class="checkbox-group">
          <input type="checkbox" id="sem-codigo">
          <label for="sem-codigo">Meu produto não tem</label>
        </div>
        <small>Tem entre 8 e 14 números, sem letras. Os mais comuns são: UPC, EAN, JAN e GTIN.</small>
      </div>

      <div class="form-group">
        <label>Por que seu produto não o tem?</label>
        <select>
          <option value="">Selecione</option>
          <option value="produto-artesanal">Produto artesanal ou caseiro</option>
          <option value="produto-exclusivo">Produto exclusivo/venda direta</option>
          <option value="em-processo">Código em processo de obtenção</option>
          <option value="fabricante-nao-fornece">Fabricante não fornece</option>
          <option value="produto-importado">Produto importado sem código</option>
          <option value="outro">Outro (especificar na descrição)</option>
        </select>

      </div>

      <div class="form-group">
        <label>Título <span class="required">(obrigatório)</span></label>
        <input type="text" name="titulo" [(ngModel)]="dadosForm.titulo" required #tituloRef="ngModel"
          [class.input-error]="formRef.submitted && tituloRef.invalid">
        <small>0/60</small>
        <div *ngIf="formRef.submitted && tituloRef.invalid" class="error-text">
          Campo obrigatório.
        </div>
      </div>
      <h3>Informações Regulatórias <span class="required">(obrigatório)</span></h3>
      <div class="row">
        <div class="form-group">
          <label>Número de registro de produto no MAPA</label>
          <input type="text">
          <div class="checkbox-group">
            <input type="checkbox" id="mapa">
            <label for="mapa">Não aplicável</label>
          </div>
        </div>

        <div class="form-group">
          <label>Número de certificado da AFE</label>
          <input type="text">
          <div class="checkbox-group">
            <input type="checkbox" id="afe">
            <label for="afe">Não aplicável</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Número de licença do CONAMA</label>
        <input type="text">
        <div class="checkbox-group">
          <input type="checkbox" id="conama">
          <label for="conama">Não aplicável</label>
        </div>
      </div>

      <div class="form-group">
        <label for="fotoInput">Fotos <span class="required">(obrigatório)</span></label>
        <input type="file" id="fotoInput" (change)="onFotosSelecionadas($event)" accept="image/*" multiple hidden />
        <div class="fotos-container">
          <div class="foto-preview" *ngFor="let foto of fotosPreview; let i = index">
            <div class="photo-upload" [ngStyle]="{ 'background-image': 'url(' + foto + ')' }"></div>
            <button class="remove-button" (click)="removerFoto(i)">×</button>
          </div>
          <div class="photo-upload add-button" (click)="abrirSeletorDeImagem()">+</div>
        </div>

      </div>




      <div class="row">
        <div class="form-group">
          <label>Quantidade <span class="required">(obrigatório)</span></label>
          <input type="text" placeholder="unidades" required>
        </div>
        <div class="form-group">
          <label>Código de identificação</label>
          <input type="text">
        </div>
      </div>

      <div class="form-group">
        <label>Descrição</label>
        <textarea maxlength="1000" placeholder="Descreva seu produto..."></textarea>
        <small>0/1000</small>
      </div>

      <!-- Botão Anunciar dentro do form -->
      <div class="form-group center-button">
        <button type="submit" class="submit-button">Anunciar!</button>
      </div>
    </form>
  </div>

  <!-- Mensagem de erro -->
  <div *ngIf="formInvalido" class="alert error-alert">
    Por favor, preencha todos os campos obrigatórios.
  </div>

  <!-- Mensagem de sucesso -->
  <div *ngIf="produtoAnunciado" class="alert success-alert">
    Produto anunciado com sucesso!
  </div>


</body>