 body {
     font-family: 'Poppins', sans-serif;
 }

 /* Produto Infos */

 .product-container {
    z-index: 1;
     display: flex;
     justify-content: center;
     max-width: 100%;
     margin-top: -25px;
 }

 .product {
     display: flex;
     background-color: #ffffffe9;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     padding: 20px;
     border-radius: 12px;
     max-width: 1200px;
     width: 100%;
 }

 .product-image {
     flex: 2;
     width: 100%;
     max-width: 650px;
     height: auto;
     border-radius: 8px;
     object-fit: cover;
     margin-right: 30px;
 }

 .product-details {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     z-index: 2;
 }

 .title {
    z-index: 2;
     font-size: 28px;
     margin-bottom: 10px;
     color: #552A0F;
     font-weight: bold;
 }

 .price {
     font-size: 24px;
     color: #552A0F;
     margin-bottom: 20px;
     font-weight: bold;
 }

 .description {
     font-size: 20px;
     color: #552A0F;
     margin-bottom: 30px;
     text-decoration: none;
 }

 .seller {
     font-size: 15px;
     text-align: end;
     color: #D9A441;
     margin-bottom: 30px;
     text-decoration: none;
     font-weight: bold;
 }

 .buttons {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 5px;
 }

 .buy-button {
     background: linear-gradient(to right, #005F83, #2D9CDB);
     color: #FFDE59;
     border: none;
     border-radius: 25px;
     padding: 10px 20px;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     text-decoration: none;
     width: 100%;
     margin-top: 5px;
 }

 .buy-button:hover {
     transform: scale(1.05);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .stars span {
    font-size: 24px;
    color: #FFB800; /* cor dourada */
    margin-right: 2px;
  }

  .qualidade {
    margin-left: 17%;
    margin-top: 15px;
    height: 350px;
    width: 350px;
  }

  .pata {
    position: absolute;
    right: 10%;
    top: 20%;
    transform: rotate(-25deg);
    height: 120px;
    width: 120px;
    opacity: 0.4;
  }

  .osso {
    position: absolute;
    left: 55%;
    margin-top: 600px;
    transform: rotate(-25deg);
    height: 120px;
    width: 120px;
    opacity: 0.5;
  }

  .patas {
    position: absolute;
    opacity: 0.1;
    top: 40%;
    right: 10%;
    transform: rotate(90deg);
    z-index: -1;
  }

  /* Comentários */

  .comments-section {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ffffffe9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .comment-title {
    font-size: 24px;
    color: #552A0F;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .comment-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
  }
  
  .comment-box input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #552A0F;
    font-size: 16px;
    outline: none;
    color: #552A0F;
  }
  
  .comment-box button {
    background: linear-gradient(to right, #552A0F, #7F4A2F);
    color: #FFDE59;
    border: none;
    border-radius: 25px;
    padding: 0 18px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .comment-box button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: rgba(255, 183, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
  }
  
  .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .comment-content {
    flex: 1;
  }
  
  .comment-content strong {
    color: #552A0F;
    font-size: 16px;
  }
  
  .comment-content p {
    margin: 5px 0;
    font-size: 15px;
    color: #552A0F;
  }

  /* Fundo */

  .img_dog {
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    height: 250px;
    width: 250px;
    z-index: 0;
    pointer-events: none;
}

.img_cat {
    position: absolute;
    left: -110px;
    top: 150%;
    transform: translateY(-50%) rotate(45deg);
    height: 250px;
    width: 250px;
    z-index: 0;
    pointer-events: none;
}
