<body>
    <div class="product-container">
        <img src="/Home/dog_2.png" alt="" class="img_dog">
        <div class="product">
            <img [src]="Image" alt="Produto" class="product-image" />
            <div class="product-details">
                <img src="/Icons/pata_5.png" alt="" class="pata">
                <h2 class="title">{{ nome }}</h2>
                <p class="price">{{preco}}</p>
                <a class="description">{{ descricao }}</a>
                <p class="seller">Vendido por: {{ vendedor }}</p>
                <div class="stars">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <span [innerHTML]="star <= nota ? '&#9733;' : '&#9734;'"></span>
                    </ng-container>
                </div>
                <div class="buttons">
                    <button class="buy-button" (click)="buy()">Comprar</button>
                </div>
                <img src="/Icons/qualidade.png" alt="selo" class="qualidade" />
                <img src="/Icons/osso_5.png" alt="selo" class="osso" />
                <img src="/Footer/footer_1.png" alt="selo" class="patas" />
            </div>
        </div>
    </div>
    <!-- em testes -->

    <div class="comments-section">
        <h3 class="comment-title">Comente Aqui:</h3>
        <div class="comment-box">
            <input type="text" placeholder="Digite seu comentário" [(ngModel)]="newComment" />
            <button (click)="sendComment()">➤</button>
        </div>

        <div class="comment" *ngFor="let comment of comments">
            <img src="/Home/cat_3.png" alt="" class="img_cat">
            <img src="/ProductDetail/perfil.jpg" alt="User" class="user-img" />
            <div class="comment-content">
                <strong>{{ comment.name }}</strong>
                <p>{{ comment.text }}</p>
                <div class="stars">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <span [innerHTML]="star <= nota ? '&#9733;' : '&#9734;'"></span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</body>