.footer {
    background-color: #005F83;
    color: #FFDE59;
    padding: 10px 0;
    text-align: center;
    height: 240px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Esquerda */
.footer .pata_logo {
    height: 50px;
    width: 50px;
    margin-right: -10px;
    margin-bottom: 5px;
}

.footer-left .social-media li {
    display: inline;
}

.footer-left .social-media img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 5px;
}

.footer-left .social-media img :hover {
    cursor: pointer;
}

.footer-left {
    width: 340px;
    text-align: left;
}

.footer-left a {
    margin-top: 10px;
    color: #FFDE59;
    font-size: 13px;

}

.footer-left p {
    opacity: 80%;
    margin-top: 10px;
    font-size: 14px;
}

.footer-left h1 {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: -15px;
    margin-left: -15px;
    font-size: 14px;
    font-weight: bold;
}

/* Fim Esquerda */

/* Centro */

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    height: 200px;
    width: 200px;
    cursor: pointer;
    margin-bottom: -25px;
}

.footer-center .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    /* Menor distância entre os links */
}

.footer-center .footer-links li {
    display: inline;
}

.footer-center .footer-links a {
    color: #FFDE59;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-center .footer-links a:hover {
    color: #D9A441;
    text-decoration: underline;

}


/* Fim Centro */

/* Direita */

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 350px;
}

.footer-right label {
    color: #FFDE59;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-right .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    width: 100%;
    max-width: 350px;
    /* Define um limite, ajustável */
}

.newsletter label {
    align-self: center;
    color: #FFDE59;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 100px;
}

.newsletter button {
    margin-right: 80px;
}

.footer-right input {
    padding: 3px;
    border-radius: 25px;
    border: none;
    width: 250px;
    margin-bottom: 5px;
    background-color: #0079A1;
    border: 1px solid #0079A1;
    color: #552A0F;
}

input::placeholder {
    color: #552A0F;
}

input:focus {
    outline: none;
}

.footer-right button {
    background: linear-gradient(to right, #FFDE59, #D9A441);
    color: #552A0F;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-left: 20px;
}

.footer-right button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.footer-right .support {
    margin-top: 10px;
}

.footer-right .support p {
    color: #FFDE59;
    font-size: 14px;
}

.footer-right .support a {
    color: #FFDE59;
    text-decoration: none;
    font-size: 14px;
}

.footer-right .support a:hover {
    text-decoration: underline;
}

.footer-right .payment {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.footer-right .payment li {
    list-style: none;
}

.footer-right .payment img {
    width: 75px;
    height: 40px;
    object-fit: contain;
    display: block;

}

/* Fim Direita */