<footer class="footer">
    <div class="footer-container">
        <!-- Esquerda -->
        <div class="footer-left">
            <h1><img src="pata_5.png" alt="Logo" class="pata_logo">MiauMigo Shop</h1>
            <p>Conectamos você aos melhores petshops, oferecendo produtos e serviços de qualidade para o seu pet com
                todo o carinho e praticidade.</p>
            <ul class="social-media">
                <li><a href="https://github.com/Kaique-GM/MiauMigo-web" target="_blank"><img src="github_logo.png"
                            alt="github"></a></li>
            </ul>
            <p>&copy; MiauMigo Shop 2025. Todos os direitos reservados.</p>
            <img src="footer.png" alt="patinhas" class="backgroundPatinhas">
        </div>

        <!-- Centro -->
        <div class="footer-center">
            <img src="Logo(SemFundo).png" alt="Logo">
            <div class="links">
                <ul class="footer-links">
                    <li><a href="/privacy-policy">Política de Privacidade</a></li>
                    <li><a href="/terms-of-service">Termos de Serviço</a></li>
                    <li><a href="/contact">Contato</a></li>
                </ul>
            </div>
            <img src="footer_1.png" alt="patinhas" class="backgroundPatinhas-center-2">
            <img src="footer.png" alt="patinhas" class="backgroundPatinhas-center">
        </div>

        <!-- Direita -->
        <div class="footer-right">
            <form class="newsletter" #form="ngForm" (ngSubmit)="enviarNewsletter()">
                <label for="email">Receba novidades:</label>
                <input type="email" name="email" [(ngModel)]="email" required email placeholder="Seu E-mail">

                <div *ngIf="form.submitted && form.controls['email'].errors" class="invalid">
                    <div *ngIf="form.controls['email'].errors['email']">
                        Email inválido!
                    </div>
                </div>

                <button type="submit">Enviar</button>
            </form>
            <div class="support">
                <a href="mailto:contato@seusite.com">Suporte: MiauMigoShop&#64;gmail.com</a><br>
                <p>Seg - Sex: 9h às 18h</p>
            </div>

            <ul class="payment">
                <li><img src="Visa.png" alt="visa"></li>
                <li><img src="mastercard.png" alt="master"></li>
                <li><img src="paypal.png" alt="paypal"></li>
            </ul>
            <img src="footer.png" alt="patinhas" class="backgroundPatinhas-right">

        </div>
    </div>

</footer>