<header class="header">
    <nav>
        <div class="logo">
            <img (click)="home()" src="/Icons/Logo(SemFundo).png" alt="Logo">
        </div>
        <div class="center">
            <div class="search-arrow">
                <div class="search">
                    <img src="/Header/search_icon.png" alt="Logo">
                    <input type="search" placeholder="Pesquisar...">
                </div>
                <div class="arrow-down"></div>
            </div>
            <button (click)="anunciar()" class="btn-anunciar">Anuncie aqui</button>
        </div>
        <div class="right">

            <div class="icons">
                <div class="icon">
                    <img src="/Header/favorite.png" alt="heart" class="icon-img">
                    <span class="count">2</span>
                </div>
                <div class="icon">
                    <img src="/Header/car.png" alt="carrinho" class="icon-img-car">
                    <span class="count-car">3</span>
                </div>
                <div class="icon user">
                    <img src="/Header/user.png" alt="User" class="user-img">
                </div>
            </div>
        </div>

    </nav>
</header>

<div class="sub-header">
    <ul>
        <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="shop" routerLinkActive="active" class="nav-link" aria-current="page">Shop</a></li>
        <li class="nav-item"><a routerLink="about" routerLinkActive="active" class="nav-link" aria-current="page">Quem Somos</a></li>
    </ul>
</div>