<body>
    <section class="sobre-nos">
        <div class="imagem-container">
            <img src="home.png" alt="Imagem Sobre Nós">
            <button (click)="comprar()" class="compre-aqui-btn">Compre aqui </button>
        </div>
    </section>

    <!-- Seção "Explore por Categorias" -->
    <section class="categorias">
        <img src="dog_2.png" alt="" class="img_dog">
        <h2><img src="osso_2.png" alt="" class="osso_2">Explore por Categorias<img src="pata_2.png" alt=""
                class="pata_2"></h2>
        <div class="cards-container-categ">
            <div class="card-categ">
                <img src="img_acessorios.jpeg" alt="Categoria 1">
                <img src="seta_1.png" alt="" class="setas">
                <h3>Acessórios </h3>
                <p>84 Produtos</p>
            </div>
            <div class="card-categ">
                <img src="img_racoes.jpeg" alt="Categoria 2">
                <img src="seta_1.png" alt="" class="setas">
                <h3>Rações</h3>
                <p>64 Produtos</p>
            </div>
            <div class="card-categ">
                <img src="img_camas.jpeg" alt="Categoria 3">
                <img src="seta_1.png" alt="" class="setas">
                <h3>Camas e Tocas</h3>
                <p>22 Produtos</p>
            </div>
            <div class="card-categ">
                <img src="img_higiene.jpeg" alt="Categoria 4">
                <img src="seta_1.png" alt="" class="setas">
                <h3>Higiene e Cuidados</h3>
                <p>16 Produtos</p>
            </div>
        </div>
    </section>

    <!-- Seção "Linha Premium" -->
    <section class="linha-premium">
        <img src="cat_3.png" alt="" class="img_cat">
        <h2 class="linha-premium-title">
            <img src="pata_3.png" alt="" class="pata_3">
            <img src="osso_4.png" alt="" class="osso_4">
            Linha Premium
            <img src="coracao.png" alt="" class="coracao">
        </h2>
        <div class="cards-container-premium">
            <div class="card-premium">
                <img src="food+_1.jpeg" alt="Premium 1">
                <img src="setas_coracao.png" alt="" class="setas">
                <h3>Ração Premium para Cães</h3>
                <p>R$ 49,99</p>
            </div>
            <div class="card-premium">
                <img src="food+_2.jpeg" alt="Premium 2">
                <img src="setas_coracao.png" alt="" class="setas">
                <h3>Combo Ração Premium para Cães</h3>
                <p>R$ 84,99</p>
            </div>
            <div class="card-premium">
                <img src="food+_3.jpeg" alt="Premium 3">
                <img src="setas_coracao.png" alt="" class="setas">
                <h3>Ração Premium para Gatos</h3>
                <p>R$ 39,99</p>
            </div>
        </div>
    </section>

    <!-- Seção "Sucesso de Vendas" -->
    <section class="sucesso-vendas">
        <img src="furao.png" alt="" class="img_furao">
        <img src="pata_4.png" alt="" class="pata_4">
        <img src="osso_3.png" alt="" class="osso_3">
        <h2>Sucesso de Vendas</h2>
        <img src="coracao_1.png" alt="" class="coracao_1">
        <div class="cards-container-sucess">
            <div class="card-sucess">
                <img src="brinquedo_cat_1.jpeg" alt="Sucesso 1">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Peixinho Fofo</h3>
                <p>R$ 9,99</p>
            </div>
            <div class="card-sucess">
                <img src="img_pote_Cat.jpeg" alt="Sucesso 2">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Pote para gatos</h3>
                <p>R$ 15,99</p>
            </div>
            <div class="card-sucess">
                <img src="brinquedo_cat_2.jpeg" alt="Sucesso 3">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Caça Ativa</h3>
                <p>R$ 9,99</p>
            </div>
            <div class="card-sucess">
                <img src="brinquedo_dog_2.jpeg" alt="Sucesso 4">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Hidrante Divertido</h3>
                <p>R$ 9,99</p>
            </div>
            <div class="card-sucess">
                <img src="briquendo_dog_1.jpeg" alt="Sucesso 5">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Osso Divertido</h3>
                <p>R$ 10,99</p>
            </div>
            <div class="card-sucess">
                <img src="caminha_Cat.jpeg" alt="Sucesso 6">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Caminha para gatos</h3>
                <p>R$ 59,99</p>
            </div>
            <div class="card-sucess">
                <img src="img_pote_dog.jpeg" alt="Sucesso 7">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Pote para cachorros</h3>
                <p>R$ 19,99</p>
            </div>
            <div class="card-sucess">
                <img src="cama_dog.jpg" alt="Sucesso 8">
                <img src="setas_coracao_2.png" alt="" class="setas">
                <h3>Caminha para cachorros</h3>
                <p>R$ 79,99</p>
            </div>
        </div>
    </section>

</body>