<body>
  <div class="not-found-page">
    <img src="/Footer/footer.png" alt="Patinhas esquerda" class="paw left-paw">
    
    <div class="container">
      <div class="cat">
        <img src="/Icons/sad_cat.png" alt="Gatinho triste">
      </div>  
      <h1>404</h1>
      <p>Oops! Página não encontrada.</p>
      <p>Parece que esse pet saiu pra passear... e não voltou ainda. 😿🐾</p>
      <button class="btn-home" (click)="home()">Voltar para a página inicial</button>
    </div>

    <img src="/Footer/footer_1.png" alt="Patinhas direita" class="paw right-paw">
  </div>
</body>
